<!DOCTYPE html>
<meta charset="utf-8">
<html>
  <head>
  	<title>D3 Tutorial: Arc Path</title>
  	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  	
  </head>

<body>
	
	<script>
		
		// var canvas = d3.select("body").append("svg")
			// .attr("width", 500)
			// .attr("height", 500);
// 			
		// var diagonal =  d3.svg.diagonal()
			// .source({x: 10 , y: 10})
			// .target({x: 300, y: 300});
// 		
		// canvas.append("path")
			// .attr("fill","none")
			// .attr("stroke","black")	
			// .attr("d",diagonal);
			
		var canvas = d3.select("body").append("svg")
			.attr("width", 500)
			.attr("height", 500)
			.append("g")
				.attr("transform", "translate(50,50)");
				
		var tree = d3.layout.tree()
			.size([400, 400]);
			
		d3.json("mydata.json", function (data) {
			
			var nodes =  tree.nodes(data);
			var links = tree.links(nodes);
			
			var node =  canvas.selectAll(".node")  // it returns empty then you bind in next step
				.data(nodes)
				.enter()
				.append("g")
					.attr("class","node")
					.attr("transform", function (d) { return "translate(" + d.y + "," + d.x + ")"; }  ); // flip x and y for 90 degree
					
			node.append("circle")  // add a circle to you g group
				.attr("r", 5)
				.attr("fill","steelblue");
				
			
			node.append("text") // add text
				.text(function (d) {return d.name;})
				.attr("class", "label")
      			.attr("x", 5)
      			.attr("y", -10)
		        .attr("stroke","black")
		        .style("background-color",'white');
		        
		    var diagonal =  d3.svg.diagonal()  // diagonal for path
		    	.projection( function (d) {return [d.y, d.x]; });

			canvas.selectAll(".link") // add paths using diagonal
				.data(links)
				.enter()
				.append("path")
				.attr("class","link")
				.attr("fill","none")
				.attr("stroke","#ADADAD")
				.attr("d", diagonal);				
			
		});
		
					
			
								
	</script>
	

</body>

</html>
  